body{
	background:#e2e2e2;
	font-size:12px;
	font-family:verdana;
	margin:0;
	padding:0;
}
input{
	text-indent:5px;
	font-size:11px;
	margin:0px;
}
button,select,option{
	padding:1px;
	font-size:11px;
}
button:hover{
	cursor:pointer;
}
table {
    border-collapse: collapse;
	width:100%;
	font-size:11px;
}
.table-noborder{
	padding:2px 10px 2px 5px;
}
.preload_ms{
	width:500px;
	margin:250px auto;
	overflow:auto;
	text-align:center;
}

.table td {
    border: 1px solid #eee;
	padding:2px 10px 2px 5px;
	
}
.item-shoplist{
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #ccc;
	width:430px;
	height:255px;
}
.shoplist-wrapper{
	width:auto;
	overflow:auto;
}
.side-menu{
	width:153px;
	height:255px;
	text-align:center;
}
.input2{
 width:100px;
}
.span2{
	margin-top:5px;
}
.item-bank{
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #ccc;
	width:430px;
	height:255px;
}
.table  tbody tr:hover{
	background:#86ffd9;
	cursor:pointer;
}
.active{
	background:#1fd59b;
}
.mainwrapper{
	width:1024px;
	height:650px;
	margin:10px auto;
	background:#1fd59b;
}
.header{
	
	text-align:center;
	padding:5px 0 5px 0;
}
.content-container{
	margin:auto;
	width:1010px;
	height:618px;
	border:1px solid #abadb3;
	background:#ccc;
}
.dynamic-content{
	width:996px;
	height:574px;
	border:1px solid #bbb;
	margin:auto;
	background:#f3f3f3;
}
.page_Selector{
	padding:5px;
}
.sub-selector{
	padding:5px;
	overflow:auto;
}
.select-groupA{
	width:381px;
}
.select-groupB{
	width:602px;
}
.itemlist_c, .itemlist_c option {
	width:340px;
}
.input1{
	width:50px;
}
.skill_cha_wrap{
	width:294px;
	height:520px;
}
.server_skills{
	height:400px;
	overflow:scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #ccc
}
.edit-field{
	width:592px;
	height:520px;
	margin:auto;
	margin-top:4px;
}
.result-fieldA{
	width:374px;
	height:530px;
	margin-left:5px;
	border:1px solid #ccc;
	background:#fefefe;
	overflow:scroll;
	overflow-y: scroll;
	overflow-x: hidden;
}
.result-fieldB{
	width:602px;
	height:530px;
	margin-left:5px;
	border:1px solid #ccc;
	background:#fefefe;
}
.item-icon-holder{
	padding:2px;
	margin:1px solid red;
	width:33px;
	height:33px;
	
}
.item-image{
	width:33px;
	height:33px;
	border:1px solid #666;
	background:#888;
	cursor:pointer;
}
.item-image:hover{
	border:1px solid red;
}
.uifocus{
	
	background:#000;
}
.locker_inventory{
	border:1px solid #ccc;
	width:225px;
	height:520px;
	padding-left:2px;
}
.locker_value_holder{
	border:1px solid #ccc;
	width:347px;
	height:520px;
	padding-left:10px;
	margin-left:3px;
}
.tab-radio{
	margin-top:10px;
	width:40px;
}
.gold-holder{
	width:216px;
	padding:2px 0 2px 2px;
	border:1px solid red;
	margin:2px 0 0 2px;
	border:1px solid #666;
	background:#444;
	color:#ffd717;
}
input[type="radio"] {
    cursor:pointer;
}
.indent-left{
	margin-top:5px;
	margin-left:20px;
}
.indent-right{
	margin-top:5px;
	margin-right:20px;
}
.indent-custom{
	margin-left:20px;
}
.armor{
	background:url(img/icon.jpg);
}
.footer{
	width:1024px;
	margin:auto;
	overflow:auto;
	color:#7f7c7c;
}
.rfloat{
	float:right;
}
.lfloat{
	float:left;
}
.clearfix{
	clear:both;
}
.sprite-icon{
	height:33px;
	width:33px;
	opacity: 0.7;
	border:1px solid #000;
}
.sprite-icon:hover{
	opacity: 1; 
	cursor:pointer;
}
.hat{
	background:url(./img/sprite_icon.jpg) -33px -66px;
}
.jacket{
	background:url(./img/sprite_icon.jpg) 0px -66px;
}
.earing1{
	background:url(./img/sprite_icon.jpg) -165px -66px;
}
.belt{
	background:url(./img/sprite_icon.jpg) -66px -66px;
}
.necklace{
	background:url(./img/sprite_icon.jpg) -198px -66px;
}
.pant{
	background:url(./img/sprite_icon.jpg) -99px -66px;
}
.earing2{
	background:url(./img/sprite_icon.jpg) 165px -33px;
}
.shoes{
	background:url(./img/sprite_icon.jpg) -264px -66px;
}
.ring{
	background:url(./img/sprite_icon.jpg) 99px -33px;
}
.glove{
	background:url(./img/sprite_icon.jpg) 132px -33px;
}
.wing{
	background:url(./img/sprite_icon.jpg) -132px -66px;
}
.hover{
	background:url(./img/sprite_icon.jpg) 33px -33px;
}
.weapon{
	background:url(./img/sprite_icon.jpg) -297px -66px;
}
.box{
	background:url(./img/sprite_icon.jpg) -231px -66px;
}
.giftbox{
	background:url(./img/sprite_icon.jpg) 0px 0px;
}
.em_hat{
	background:url(./img/sprite_icon.jpg) -264px 0px;
}
.em_jacket{
	background:url(./img/sprite_icon.jpg) -33px -33px;
}
.em_belt{
	background:url(./img/sprite_icon.jpg) 99px 0px;
}
.em_pant{
	background:url(./img/sprite_icon.jpg) -330px 0px;
}
.em_shoes{
	background:url(./img/sprite_icon.jpg) -363px 0px;
}
.em_glove{
	background:url(./img/sprite_icon.jpg) -396px 0px;
}
.em_weaponA{
	background:url(./img/sprite_icon.jpg) -231px -33px;
}
.em_weaponB{
	background:url(./img/sprite_icon.jpg) 396px -66px;
}
.em_ring{
	background:url(./img/sprite_icon.jpg) 363px -66px;
}
.em_earings{
	background:url(./img/sprite_icon.jpg) 231px 0px;
}
.em_necklace{
	background:url(./img/sprite_icon.jpg) 33px 0px;
}
.em_hover{
	background:url(./img/sprite_icon.jpg) 231px -66px;
}
.em_wing{
	background:url(./img/sprite_icon.jpg) 198px -66px;
}
.em_wrist{
	background:url(./img/sprite_icon.jpg) 165px 0px;
}